body {
    background-color: whitesmoke;
}

header,
h1 {
    background-color: beige;
}

#title {
    font-size: 32px;
    margin: 16px;
    padding: 32px;
    color: orange;
    display: block;
}

.recipe-card {
    margin: 32px;
    padding: 0px;
    display: inline-block;
}

img {
    height: 500px
}
