body {
    background-color: whitesmoke;
}

header {
    background-color: beige;
    font-size: 16px;
    margin: 8px;
    padding: 16px;
    color: orange;
}

.recipe-card {
    margin: 32px;
    padding: 0px;
    display: inline-block;
}

img {
    height: 500px
}

.main-header {
    margin: 16px;
    padding: 
}
